@font-face {
  font-family: "Helvetica", sans-serif;
  src: url(helvetica-255-cufonfonts/Helvetica-Bold.ttf);
  /* font-weight: bold; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}
.container {
  height: 100vh;
}

.card_title span{
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2D3748;
}
.contacts_card{
  width: 517px;
  height: 377.5px;
  /* left: 701px;
  top: 380px; */
  background: #FFFFFF;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
}
.user_img{
  border-radius: 15px;
}
.user_info span{
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #2D3748;
}
.user_info p{
  font-size: 14px;
  line-height: 140%;
  color: #718096;
  color: #718096;
  margin-bottom: 0px;
}
.reply{
  text-decoration: none;
  color: #4FD1C5;
  font-size: 10px;
  line-height: 150%;
  /* text-align: end; */
}

